[Unit]
Description=FRPC Daemon
After=network-online.target,time-sync.target
Wants=network-online.target,time-sync.target

[Service]
WorkingDirectory=/home/pi/parosBox/frpc
ExecStart=/home/pi/parosBox/frpc/frpc --config=/home/pi/parosBox/frpc/run.toml
Restart=always
RestartSec=10
User=pi

[Install]
WantedBy=multi-user.target
