[Unit]
Description=ParosBox Datalogger
After=network-online.target,time-sync.target
Wants=network-online.target,time-sync.target

[Service]
WorkingDirectory=/home/pi/parosBox
ExecStart=/home/pi/parosBox/venv/bin/python /home/pi/parosBox/reader.py
Restart=always
RestartSec=10
User=pi

[Install]
WantedBy=multi-user.target
